body {
    background: #EEE;
    margin: 0;
    padding: 0;
  }
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.logoutLblPos{

  position:fixed;
  right:10px;
  top:5px;
}
.main_div_left{
  box-sizing: border-box;
  text-align: center;
  width: 700px;
  height: 400px;
  padding: 100px;  
  border: 1px solid black;

}
.head_banner{
    
    position: relative;
    margin-left: 700px;
    margin-top: -175px;
    
}

.company_logo{
    margin-top: 5px;
    margin-bottom: 0px;
    
}

.para1{
    text-align: center;
    font-size: 30px;
}
.main_div_left:hover {
      transition: 0.8s;

  border: 1px solid #0f0f0f;
  color: #4CAF50	;

/*      border-radius: 0px 0px 25px 0px;*/

}

.main_img{
  position: relative;
  margin-left: 700px;
  margin-top: -400px;
/*  padding-bottom: -8px;*/

    
}
.main_hr{
/*    padding-bottom: -100px;*/
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #269D31; 
}


/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
  border-radius: 4px;

}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}
a{
  text-decoration: none;
  color:  black;
  opacity: 0.9;
  transition: 0.2s;


}
a:hover{
  opacity: 1;
  text-decoration: underline;
}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
  
  /* Navigation */
  
  .navigation {
    box-sizing: border-box;
    background-color: #30BCED;
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  li {
    color: #FFF;
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 18px 10px 18px;
    text-transform: uppercase;
  }
  
  .active {
    color: #88CCF1;
  }
  
  /* Table */
  
  table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
    box-shadow: 2px 2px 4px #85DCE8, 5px 5px 8px black;

  }
  
  thead th {
    background: #88CCF1;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
/*    border-left: 1px solid #FFF;*/
    
    margin-bottom: 5px;
  }
  
  th, td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
      
  }
  tr:hover {background-color:#DBFDC7;}
  
  .search {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 3px;
    color: #AAA;
    padding: 20px;
    margin: 50px auto 0px auto;
    width: 77%;
  }

}